{% extends 'AppBundle:Template:base.html.twig' %}

{% block title %}
    Login
{% endblock %}

{% block body %}

    <div class="row login-row">
        <div class="col-md-6 col-md-offset-3">
            {% if error %}
                <div id="alert-container">
                    <div class="alert alert-warning">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Warning!</strong> {{ error.getMessage() }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form class="form-signin" method="post" action="/login_check" role="form">
                <h2 class="form-signin-heading">Please sign in</h2>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="text" class="form-control" id="_username" name="_username" value="{{ last_username }}" placeholder="Username" />
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" class="form-control" id="_password" name="_password" placeholder="Password" />
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
            <div class="clearfix">
                <hr>
                <a href="/password/email" class="pull-right">Forgotten Password?</a>
            </div>
        </div>
    </div>

    <div class="row">
        <p>
            Login with external account.
        </p>
        <ul>
            <li>
                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}">
                    <span>Facebook</span>
                </a>
            </li>
            <li>
                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'twitter' }) }}">
                    <span>Twitter</span>
                </a>
            </li>
            <li>
                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}">
                    <span>Google</span>
                </a>
            </li>
        </ul>
    </div>

{% endblock %}